[SddmGreeterTheme]
Name=wintersky
Description=Siduction wintersky Theme
Author=Hendrik Lehmbruch
Copyright=2015-2021, Hendrik Lehmbruch
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=hendrikl@siduction.org
Theme-Id=wintersky
Theme-API=2.0
