[Unit]
Description=KDE cheatcodes in live media
ConditionPathExists=/usr/share/big-crime-kde-settings/
After=big-crime-common-livesettings.service

[Service]
Type=oneshot
ExecStart=/usr/share/big-crime-kde-settings/kde-cheatcodes start

[Install]
WantedBy=graphical.target
