[Desktop Entry]
Encoding=UTF-8
Name=Masters of War Default Panel
Name[ar]=Masters of War اللوحة الافتراضيّة
Name[bs]=Masters of War Podrazumijevani panel
Name[ca]=Masters of War Plafó per omissió
Name[ca@valencia]=Masters of War Plafó per omissió
Name[cs]=Masters of War Výchozí panel
Name[da]=Masters of War Standardpanel
Name[de]=Masters of War Standard-Kontrollleiste
Name[el]=Masters of War Προκαθορισμένος πίνακας
Name[en_GB]=Masters of War Default Panel
Name[es]=Masters of War Panel por omisión
Name[et]=Masters of War Vaikimisi paneel
Name[eu]=Masters of War Panel lehenetsia
Name[fi]=Masters of War Oletuspaneeli
Name[fr]=Masters of War Tableau de bord par défaut
Name[gl]=Masters of War Panel predeterminado
Name[he]=Masters of War לוחות ברירת־מחדל
Name[hu]=Masters of War Alapértelmezett panel
Name[id]=Masters of War Panel Baku
Name[is]=Masters of War Sjálfgefið spjald
Name[it]=Masters of War Pannello predefinito
Name[ja]=Masters of War 標準のパネル
Name[ko]=Masters of War 기본 패널
Name[lt]=Masters of War Numatytas skydelis
Name[mr]=Masters of War मूलभूत पटल
Name[nb]=Masters of War Standardpanel
Name[nds]=Masters of War Standardpaneel
Name[nl]=Masters of War Standaard paneel
Name[nn]=Masters of War Standardpanel
Name[pa]=Masters of War ਡਿਫਾਲਟ ਪੈਨਲ
Name[pl]=Masters of War Domyślny panel
Name[pt]=Masters of War Painel Predefinido
Name[pt_BR]=Masters of War Painel padrão
Name[ru]=Masters of War Стандартная панель
Name[sk]=Masters of War Štandardný panel
Name[sl]=Masters of War Privzeti pult
Name[sr]=Masters of War Подразумевани панел
Name[sr@ijekavian]=Masters of War Подразумијевани панел
Name[sr@ijekavianlatin]=Masters of War Podrazumijevani panel
Name[sr@latin]=Masters of War Podrazumevani panel
Name[sv]=Masters of War Standardpanel
Name[tr]=Masters of War Öntanımlı Pano
Name[uk]=Masters of War Типова панель
Name[x-test]=xxMasters of War Default Panelxx
Name[zh_CN]=Masters of War 默认面板
Name[zh_TW]=Masters of War 預設面板
Comment=Default panel featuring application launcher, task manager and system tray
Comment[ar]=قائمة مبدئية فيها مُطلق التّطبيقات ومدير المهامّ وصينيّة النّظام
Comment[ca]=Plafó predeterminat amb el llançador d'aplicacions, el gestor de tasques i la safata del sistema
Comment[ca@valencia]=Plafó predeterminat amb el llançador d'aplicacions, el gestor de tasques i la safata del sistema
Comment[da]=Standardpanel med programstarter, opgavelinje og statusområde
Comment[en_GB]=Default panel featuring application launcher, task manager and system tray
Comment[es]=Panel por defecto que contiene un lanzador de aplicaciones, un gestor de tareas y la bandeja del sistema
Comment[eu]=Lehenetsitako panela aplikazio abiarazlea, ataza kudeatzailea eta sistemaren erretilua dituena
Comment[fi]=Oletuspaneeli, jossa sovelluskäynnistin, tehtävänhallinta ja ilmoitusalue
Comment[fr]=Tableau de bord par défaut contenant le lanceur d'application, le gestionnaire de tâche et la boîte à miniatures
Comment[gl]=Panel predeterminado que contén un iniciador de aplicativos, un xestor de tarefas e unha área de notificación.
Comment[id]=Perfituran panel baku peluncur aplikasi, pengelola tugas dan baki sistem
Comment[it]=Pannello vuoto che offre un avviatore di applicazioni, un gestore delle attività e un vassoio di sistema
Comment[nl]=Standaard paneel met starter van toepassingen, taakbeheerder en systeemvak
Comment[nn]=Standardpanel med programstartar, oppgåvehandsamar og systemtrau
Comment[pl]=Domyślny panel zawierający aktywator programów, pasek zadań i tackę systemową
Comment[pt]=O painel predefinido, que possui o lançador de aplicações, o gestor de tarefas e a bandeja do sistema
Comment[pt_BR]=Painel padrão contendo o lançador de aplicativos, gerenciador de tarefas e área de notificação
Comment[sl]=Privzeti pult, ki vsebuje zaganjalnik programov, upravljalnik opravil in sistemsko vrstico
Comment[sr]=Подразумевани панел са покретачем програма, менаџером задатака и системском касетом
Comment[sr@ijekavian]=Подразумијевани панел са покретачем програма, менаџером задатака и системском касетом
Comment[sr@ijekavianlatin]=Podrazumijevani panel sa pokretačem programa, menadžerom zadataka i sistemskom kasetom
Comment[sr@latin]=Podrazumevani panel sa pokretačem programa, menadžerom zadataka i sistemskom kasetom
Comment[sv]=Standardpanel med funktionerna programstart, aktivitetshanterare och systembricka
Comment[uk]=Типова панель із засобом запуску програм, панеллю керування задачами та системним лотком
Comment[x-test]=xxDefault panel featuring application launcher, task manager and system trayxx
Comment[zh_CN]=默认面板具有应用程序启动器，任务管理器和系统托盘
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=siduction Developers
X-KDE-PluginInfo-Email=tux@siduction.org
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.mow.desktop.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://siduction.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
